<?xml version="1.0" encoding="utf-8"?>
<caching currentCache="AmazonS3Cache">
  <caches>

    <cache name="DiskCache" type="ImageProcessor.Web.Caching.DiskCache, ImageProcessor.Web" maxDays="365" memoryMaxMinutes="1" browserMaxDays="7">
      <settings>
        <setting key="VirtualCachePath" value="~/app_data/cache" />
      </settings>
    </cache>
    <cache name="AmazonS3Cache" type="ImageProcessor.Web.Plugins.AmazonS3Cache.AmazonS3Cache, ImageProcessor.Web.Plugins.AmazonS3Cache" maxDays="365" browserMaxDays="7">
      <settings>
        <setting key="AwsBucketName" value="test-imageprocessor"/>
        <setting key="AwsCacheKeyPrefix" value="cache" />
        <setting key="RegionEndpoint" value="eu-west-2" />
        <setting key="CachedCDNRoot" value="http://d3sr566wcklbw1.cloudfront.net/" />
        <setting key="CloudSourceURI" value="https://test-imageprocessor-source.s3.amazonaws.com/" />
        <setting key="SourceRegionEndpoint" value="eu-west-2" />
        <setting key="CachedCDNTimeout" value="2000" />
        <setting key="StreamCachedImage" value="false" />
        <setting key="AwsAccessKey" value="" />
        <setting key="AwsSecretKey" value="" />
      </settings>
    </cache>
  </caches>
</caching>
